.header-wapper {
    height: 60px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    .header-content {
        width: 90%;
        display: flex;


        .arrow-wapper {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .page-name {
            width: 82%;
            font-weight: bolder;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}