.customDefaultInput {
    //box-shadow: 0 0 0 1px #BAC8FF inset;
    border: 1px solid rgba(0, 0, 0, 0.2);
    height: 39px;
    outline: none;
    padding: 0 0 0 10px;
}

.customDefaultInput:focus {
    border: 2px solid #7DB1F7;
}