.review-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    background: white;
    margin-bottom: 10px;

    .review-wrapper {
        width: 85%;
        display: flex;
        flex-direction: column;

        .author {
            font-weight: bolder;
            margin-bottom: 3px;
        }

        .sub-data {
            display: flex;
            align-items: center;
            margin-bottom: 7px;
            font-size: 14px;

            .grade {
                display: flex;
                align-items: center;
                margin-right: 10px;
            }
        }
    }
}