.orderinfo-wapper {
    margin-top: 20px;
    margin-bottom: 0px;
    width: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    padding: 10px ;
    background: white;


    .orderinfo-content {
        width: 90%;
        display: flex;
        flex-direction: column;
        margin-bottom:10px;
        position: relative;

        .endtalk{
            margin-top:5px;
            color:gray;
        }

        .name{
            font-size:20px;
            font-weight:bold;
        }

        .page-name {
            margin-top:5px;
            width: 100%;
        }
    }
}