



.order-container {
    width: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    padding: 10px 0;
    background: white;

    .order-wapper {
        width: 90%;
        display: flex;
        justify-content: space-between;



        .order-content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 90%;
            padding-left: 10px;

            .name {
                font-size: 16px;
                margin-bottom:30px;
                margin-top:10px;
            }

            .Order-rowItem {
            margin-top: 5px;
            margin-bottom: 5px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .label{
                font-size: 14px;
                padding-bottom:10px;
            }

            .day {
                font-size: 14px;
                padding-bottom:10px;
            }

            .money {
                font-size: 14px;
                padding-bottom:10px;
            }

            }




        }


    }
}