.laundry-container {
    width: 100%;
    min-height: 100px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    padding: 10px 0;
    background: white;

    .laundry-wrapper {
        width: 90%;
        display: flex;
        justify-content: space-between;

        .laundry-image {
            width: 25%;
            display: flex;
            align-items: center;

            .image {
                width: 100%;
                height: 100%;
                background: gray;
            }
        }

        .laundry-content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 60%;
            padding-left: 5%;

            .name {
                font-size: 14px;
                font-weight: bold;
            }

            .laundry-sub-content {
                font-size: 12px;
                display: flex;
                align-items: center;
            }

            .grade {
                margin-right: 10px;
            }

            .grade,
            .likeNum {
                margin-left: 3px;
            }

            .content {
                font-size: 12px;
            }
        }

        .more {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 15%;
            color: #333333;
        }
    }
}