body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body,
html {
    width: 100%;
    height: 100%;
    background: #F5F5F7;
}

body {
    color: #333333;
}

* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

a {
    color: #fff;
    text-decoration: none;
    outline: none
}

a:hover,
a:active {
    text-decoration: none;
    color: #fff;
    background-color: #f59000;
}