.inputContent {
  display: flex;
  flex-direction: column;
}

.inputTitle {
  text-align: center;
}

.inputContent form {
  display: flex;
  flex-direction: column;
}

.inputContent label {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.inputContent .label {
  margin-right: auto;
  font-size: 1.2rem;
}

.inputContent .inputText {
  width: 300px;
  height: 40px;
  margin-left: 20px;
  padding-left: 10px;
  border: 1px solid #BAC8FF;
  font-size: 20px;
  outline: none;
}

.inputContent .findPassword {
  margin-left: auto;
  margin-top: 13px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
}

.inputContent .findPassword a {
  color: rgba(0, 0, 0, 0.6);
}

.inputContent .submitBtn {
  margin-top: 15px;
  height: 45px;
  background: #65AD5A;
  border: none;
  color: white;
  font-size: 24px;
}

.inputContent .submitBtn:active {
  background: #35AD3A;
}