.defaultHeader{
  width: 1024px;
  flex-direction: row;
  display: flex;
  margin-top: 45px;
}

.defaultHeaderTitleDiv{
  display: flex;
  flex-direction: column;
}

.defaultHeaderProfileDiv{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: 10px;
  align-items: flex-end;
}

.defaultHeaderTitle{
  font-size: 48px;
}

.defaultHeaderSubTitle{
  font-size: 36px;
}

.defaultHeader-rowItem {
  display: flex;
  flex-direction: row;
  align-items: center;
}