.order-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;


    .laundry-name-wapper {
        width: 100%;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 5%;
        background: white;
        font-size: 22px;
        font-weight: bolder;
    }

    .order-item-wapper {
        width: 100%;
    }

    .total-price-wapper {
        width: 100%;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        background: white;
        padding: 5%;
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        font-weight: bolder;
    }

    .sub-message {
        word-break: keep-all;
        font-size: 11px;
        padding: 5%;
        margin-bottom: 30px;
    }

    .order-button {
        width: 50%;
    }
}