.order-item-container {
    width: 100%;
    //border: 0.3px solid rgba(0, 0, 0, 0.25);
    //box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    padding: 10px 0;
    margin-bottom: 10px;
    background: white;

    .order-item-wrapper {
        width: 90%;

        .category {
            font-weight: bold;
            font-size: 18px;
            margin-bottom: 10px;
        }

        .item-wrapper {
            display: flex;
            margin-bottom: 7px;

            .item-title {
                margin-right: 5px;
            }
        }

        .item-total-price {
            text-align: right;
            font-weight: bold;
        }
    }
}