.signUpPage{
  padding-bottom: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #F4F5F7;
  overflow: auto;
}

.signUpHeader{
  display: flex;
  margin-top: 45px;
  flex-direction: column;
  width: 1024px;
}

.signUpTitle{
  font-size: 48px;
}

.signUpSubTitle{
  font-size: 36px;
}

.signUpBox{
  display: flex;
  margin-top: 50px;
  width: 1024px;
  height: 1300px;
  background: #ffffff;
}

