.inputContent {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.inputContent form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.inputContent form label {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}

.inputContent form .label {
    margin-bottom: 20px;
}

.inputContent .inputText {
    padding-bottom: 10px;
    border: 0px solid;
    border-bottom: 1px solid black;
}

.loginButton {
    margin-bottom: 50px;
}

.activeButton {
    background: #E7E7E7;
    color: black;
}