.inputContent form {
    display: flex;
    flex-direction: column;
}

.inputContent form label {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}

.inputContent form .label {
    margin-bottom: 20px;
}

.inputContent .inputText {
    padding-bottom: 10px;
    border: 0px solid;
    border-bottom: 1px solid black;
}

.inputContent .submitBtn {
    outline: none;
    border: none;
    font-size: 1.2rem;
    font-weight: 500;
    border: 1.5px solid #5c7cfa;
    background: white;
    color: #5c7cfa;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s all;
}

.submitBtn {
    margin-bottom: 30px;
}

.inputContent .submitBtn:active {
    color: white;
    background: #5c7cfa;
}