.main-page {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    .header {
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-size: 12px;

        .header-content {
            width: 90%;
            display: flex;
            justify-content: space-between;
        }
    }

    .advertising {
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .search-wapper {
        width: 90%;
        display: flex;
        justify-content: space-between;

        .search-icon {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .menu-list {
        margin-top: 20px;
        width: 90%;
        height: 350px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        display: flex;
        flex-wrap: wrap;


        .menu-item {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

        }
    }
}