$rowItemWidth: 550px;
$inputHeight: 30px;
$bigInputWidth: 400px;


.ProfileModification-form {
  width: 100%;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  background: white;
}

.ProfileModification-rowItem {
  width: $rowItemWidth;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ProfileModification-button{
  height: $inputHeight;
  padding-left: 20px;
  padding-right: 20px;
}

.ProfileModification-spaceBetween{
  width: $bigInputWidth;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ProfileModification-bigInput {
  width: $bigInputWidth;
  height: $inputHeight;
  font-size: 16px;
}

.ProfileModification-imgInput {
  width: $bigInputWidth;
  height: $inputHeight;
  font-size: 16px;
  outline: none;
}