.signUpPage {
    padding-bottom: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F4F5F7;
    overflow: auto;
    width: 100%;
    height: 100vh;
}

.signUpHeader {
    display: flex;
    margin-top: 45px;
    flex-direction: column;
    width: 90%;
}

.signUpTitle {
    font-size: 30px;
}

.signUpSubTitle {
    font-size: 24px;
}

.signUpBox {
    display: flex;
    margin-top: 50px;
    width: 90%;
    height: 75%;
    background: #ffffff;
}