.item-add-modal {
    position: absolute;
    background: white;
    top: 50%;
    left: 50%;
    width: 70%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;

    .close-button {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        margin-top: 5%;
        margin-right: 5%;
        margin-bottom: 20px;
    }

    .modal-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 20px;

        .item-wrapper {
            width: 90%;

            .item-title {
                margin-bottom: 7px;
            }

            .item-input {
                width: 100%;
                margin-bottom: 30px;
            }
        }

        .count-wrapper {
            width: 50%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .count {
                // border: 1px solid rgba(0, 0, 0, 0.2);
                // ;
                padding: 20px;
            }
        }
    }
}